<div class="search">
    <input #search>
    <button (click)="checkForTitle(search.value)">Check For Title</button>
    <h4 class="success" *ngIf="searchFlag">Title found</h4>
    <h4 class="fail" *ngIf="!searchFlag">Title not found</h4>
</div>
      
<app-content-card *ngFor="let item of (artgalleryList | typeFilter); first as isFirstArtOnList" [class.first-art]="isFirstArtOnList"
    [art]="item" class="notype" [class.found]="item.title == search.value"></app-content-card>

<app-content-card *ngFor="let item of (artgalleryList | typeFilter: 'artgallery'); first as isFirstArtOnList" [class.first-art]="isFirstArtOnList"
                [art]="item" class="artgallery" [class.found]="item.title == search.value"></app-content-card>

<app-content-card *ngFor="let item of (artgalleryList | typeFilter: 'museum'); first as isFirstArtOnList" [class.first-art]="isFirstArtOnList"
                [art]="item" class="museum" [class.found]="item.title == search.value"></app-content-card>
