<h3 class="title">
    {{ galleryItem?.title }}
</h3>
<div *ngIf="galleryItem?.imgURL; else default">
    <img *ngIf="galleryItem?.imgURL" class="image" [src]="galleryItem?.imgURL">
</div>
<ng-template #default>
    <img  src="https://previews.123rf.com/images/yurazaga/yurazaga1705/yurazaga170500002/77575964-wortkunstb%C3%BCrstenbeschriftung-kunstgalerie-deckblatt.jpg" class="defaultimg">
  </ng-template>

<p>
    {{ galleryItem?.description }}
</p>
<div class="meta-data">
    <div class="creator">
        {{ galleryItem?.creator}}
    </div>
    <div *ngIf="galleryItem?.type" typeHoverAffect type-affect="hovertypeaffect" class="galleryItem?.type">
        <h4>{{ galleryItem?.type }}</h4>
    </div>
    <div class="tags" typeHoverAffect type-affect="testbd" *ngIf="galleryItem?.tags">
        <span class="tag" *ngFor="let tag of galleryItem?.tags">
            #{{ tag }}
        </span>
    </div>
</div>
